<footer class="bg-dark text-white text-center">
  <!-- Grid container -->
  <div class="container-fluid pe-5 d-grid">
    <!-- Section: Social media -->
    <section class="my-4 d-flex justify-content-between">

      <p class="my-auto ps-4 fs-6">Coded By <a href="https://github.com/viniciusmartins21" class="fs-6">Vinicius Martins Santos</a> Tindin - Test of Job Position!</p>

      <div>
      <!-- Facebook -->
      <a href="" class="btn btn-outline-light btn-floating m-1 rounded-circle ">
        <fa-icon class="social" [icon]= faFacebook></fa-icon>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faTwitter ></fa-icon>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faGooglePlusG ></fa-icon>
      </a>

      <!-- Youtube -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faYoutube ></fa-icon>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faInstagram></fa-icon>
      </a>
      </div>

    </section>

    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->


</footer>
