<footer class="bg-dark text-white text-center">
  <!-- Grid container -->
  <div class="container-fluid justify-content-end d-flex pe-5">
    <!-- Section: Social media -->
    <section class="my-4">

      <!-- Facebook -->
      <a href="" class="btn btn-outline-light btn-floating m-1 rounded-circle ">
        <fa-icon class="social" [icon]= faFacebook></fa-icon>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faTwitter ></fa-icon>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faGooglePlusG ></fa-icon>
      </a>

      <!-- Youtube -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faYoutube ></fa-icon>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
        <fa-icon class="social" [icon]= faInstagram></fa-icon>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->


</footer>
