<nav class="navbar navbar-light bg-red">
  <div class="container-fluid">
    <a class="navbar-brand p-3 ms-4 my-auto" href="#">
      <img
        src="../assets/images/logo-tindin-branca.png"
        alt=""
        width="250"
        class="d-inline-block img-responsive"
      />
    </a>

    <a href="#"
      class="me-5 rounded-circle my-auto bg-account p-lg-2 border border-3 border-white">
      <img
        src="../assets/images/user.png" width="43" height="43" class="p-2" alt="..."/>
    </a>
  </div>
</nav>
