<nav class="navbar bg-red">
  <div class="container-fluid ">
    <a class="navbar-brand p-3 ms-4 my-auto" href="#">
      <img
        src="../assets/images/logo-tindin-branca.png"
        alt=""
        width="240"
        class="h-100"
      />
    </a>

    <!-- search games -->
      <form class="w-25">
        <div class="form-control border border-2 border-white bg-white py-2 rounded-pill justify-content-end d-flex">
          <input type="email" class="form-control border-white" id="" aria-describedby="search-" placeholder="Search game here">
          <button class="btn bg-black px-4 text-white rounded-pill border-3 border-red" type="submit"><p class="d-flex my-auto">Search</p></button>
        </div>
      </form>


    <a href="#"
      class="me-5 rounded-circle my-auto bg-account p-lg-2 border border-3 border-white">
      <img
        src="../assets/images/user.png" width="43" height="43" class="p-2" alt="..."/>
    </a>
  </div>
</nav>
