
<div class="container-fluid px-5">

  <div class="row py-5 justify-content-center d-flex">

    <div class="col-sm-6 col-md-8  ">
      <h1 class="lh-1 text-white">Games</h1>
      <p class="lh-1 text-white">Games manager portal</p>
    </div>

    <div class="col-6 col-md-4 d-grid">
      <form class="d-inline-flex my-auto">
        <input class="form-control me-3 border border-2 border-danger bg-account p-4" type="text"  placeholder="Search From..." aria-label="Search">
        <button class="btn btn-danger px-5" type="submit"><p class="">New Game</p></button>
      </form>
    </div>
  </div>

</div>
