<div class="w-100 d-flex">
  <div class="col-12 justify-content-center d-flex padding-login">
    <div class="card text-center px-4 p-5" style="width: 33rem;">
        <div class="mt-5">
          <h3>Sign in</h3>
          <p class="mt-4">Insert your Account Information</p>
        </div>
      <div class="card-body mt-3">

        <form>
        <!-- Input de E-mail -->
          <div class="mb-3">
            <input type="email" class="form-control shadow-sm p-3 mb-3 bordered" id="" aria-describedby="email" placeholder="Username or Email">
          </div>

          <!-- Input de Password -->
          <div class="">
            <input type="password" class="form-control shadow-sm p-3 mb-3 bordered" id="" placeholder="Password" >
          </div>

          <!-- Botão Cadastrar -->
          <div class="mb-5"></div>
          <button type="submit" class="btn text-white py-2 container-fluid bg-account mb-5 font-size shadow p-3 ">Login your account</button>
        </form>

        <p>No account? Send email to: <a href=""> fabio@tindin.com.br</a></p>

      </div>
    </div>
  </div>
</div>
