  <!-- Game Cards Section-->
<div class="row row-cols-lg-4 g-2 g-lg-3 justify-content-between px-2">

    <div class="card border-2 col border-dark bg-account mt-5" style="width: 20rem;">
      <img src="../assets/images/elden-ring-2022.jpg" class="card-img-top" alt="Elden Ring game">
      <h3 class="text-center mt-2 rounded-circle bg-red w-rating text-black game-note align-content-center">8.5</h3>
      <div class="card-body">
        <h3 class="card-title text-white">Elden Ring</h3>
        <p class="card-text text-white">$30.00</p>
      </div>
  </div>

  <div class="card border-2 col border-dark bg-account mt-5" style="width: 20rem;">
    <img src="../assets/images/elden-ring-2022.jpg" class="card-img-top" alt="Elden Ring game">
    <h3 class="text-center mt-2 rounded-circle bg-red w-rating text-black game-note align-content-center">8.5</h3>
    <div class="card-body">
      <h3 class="card-title text-white">Elden Ring</h3>
      <p class="card-text text-white">$30.00</p>
    </div>
</div>

<div class="card border-2 col border-dark bg-account mt-5" style="width: 20rem;">
  <img src="../assets/images/elden-ring-2022.jpg" class="card-img-top" alt="Elden Ring game">
  <h3 class="text-center mt-2 rounded-circle bg-red w-rating text-black game-note align-content-center">8.5</h3>
  <div class="card-body">
    <h3 class="card-title text-white">Elden Ring</h3>
    <p class="card-text text-white">$30.00</p>
  </div>
</div>

<div class="card border-2 col border-dark bg-account mt-5" style="width: 20rem;">
  <img src="../assets/images/elden-ring-2022.jpg" class="card-img-top" alt="Elden Ring game">
  <h3 class="text-center mt-2 rounded-circle bg-red w-rating text-black game-note align-content-center">8.5</h3>
  <div class="card-body">
    <h3 class="card-title text-white">Elden Ring</h3>
    <p class="card-text text-white">$30.00</p>
  </div>
</div>

<div class="card border-2 col border-dark bg-account mt-5" style="width: 20rem;">
  <img src="../assets/images/elden-ring-2022.jpg" class="card-img-top" alt="Elden Ring game">
  <h3 class="text-center mt-2 rounded-circle bg-red w-rating text-black game-note align-content-center">8.5</h3>
  <div class="card-body">
    <h3 class="card-title text-white">Elden Ring</h3>
    <p class="card-text text-white">$30.00</p>
  </div>
</div>

<div class="card border-2 col border-dark bg-account mt-5" style="width: 20rem;">
  <img src="../assets/images/elden-ring-2022.jpg" class="card-img-top" alt="Elden Ring game">
  <h3 class="text-center mt-2 rounded-circle bg-red w-rating text-black game-note align-content-center">8.5</h3>
  <div class="card-body">
    <h3 class="card-title text-white">Elden Ring</h3>
    <p class="card-text text-white">$30.00</p>
  </div>
</div>
  </div>
